#%RAML 1.0
title: Swagger API
version: 1.0
baseUri: https://canvas.instructure.com/doc/api/
baseUriParameters: {}
protocols:
- HTTPS
/v1:
  /accounts:
    get:
      displayName: list_accounts
      description: List accounts
      queryParameters:
        include:
          required: false
          displayName: include
          description: |
            Array of additional information to include.


            "lti_guid":: the 'tool_consumer_instance_guid' that will be sent for this account on LTI launches

            "registration_settings":: returns info about the privacy policy and terms of use

            "services":: returns services and whether they are enabled (requires account management permissions)
          type: string
          enum:
          - lti_guid
          - registration_settings
          - services
      responses:
        200:
          description: Success
          body:
            text/plain:
              displayName: response
              type: any
    /search:
      get:
        displayName: search_account_domains
        description: Search account domains
        queryParameters:
          name:
            required: false
            displayName: name
            description: campus name
            type: string
          domain:
            required: false
            displayName: domain
            description: no description
            type: string
          latitude:
            required: false
            displayName: latitude
            description: no description
            type: number
            format: double
          longitude:
            required: false
            displayName: longitude
            description: no description
            type: number
            format: double
        responses:
          200:
            description: Success
    /{id}:
      uriParameters:
        id:
          required: true
          displayName: id
          description: ID
          type: string
      get:
        displayName: get_single_account
        description: Get a single account
        responses:
          200:
            description: Success
            body:
              text/plain:
                displayName: response
                type: any
      put:
        displayName: update_account
        description: Update an account
        body:
          multipart/form-data:
            type: object
            properties:
              account[name]:
                required: false
                displayName: account[name]
                description: Updates the account name
                type: string
              account[sis_account_id]:
                required: false
                displayName: account[sis_account_id]
                description: |
                  Updates the account sis_account_id

                  Must have manage_sis permission and must not be a root_account.
                type: string
              account[default_time_zone]:
                required: false
                displayName: account[default_time_zone]
                description: |
                  The default time zone of the account. Allowed time zones are

                  {http://www.iana.org/time-zones IANA time zones} or friendlier

                  {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
                type: string
              account[default_storage_quota_mb]:
                required: false
                displayName: account[default_storage_quota_mb]
                description: The default course storage quota to be used, if not otherwise specified.
                type: integer
                format: int64
              account[default_user_storage_quota_mb]:
                required: false
                displayName: account[default_user_storage_quota_mb]
                description: The default user storage quota to be used, if not otherwise specified.
                type: integer
                format: int64
              account[default_group_storage_quota_mb]:
                required: false
                displayName: account[default_group_storage_quota_mb]
                description: The default group storage quota to be used, if not otherwise specified.
                type: integer
                format: int64
              account[settings][restrict_student_past_view][value]:
                required: false
                displayName: account[settings][restrict_student_past_view][value]
                description: Restrict students from viewing courses after end date
                type: boolean
              account[settings][restrict_student_past_view][locked]:
                required: false
                displayName: account[settings][restrict_student_past_view][locked]
                description: Lock this setting for sub-accounts and courses
                type: boolean
              account[settings][restrict_student_future_view][value]:
                required: false
                displayName: account[settings][restrict_student_future_view][value]
                description: Restrict students from viewing courses before start date
                type: boolean
              account[settings][restrict_student_future_view][locked]:
                required: false
                displayName: account[settings][restrict_student_future_view][locked]
                description: Lock this setting for sub-accounts and courses
                type: boolean
              account[settings][lock_all_announcements][value]:
                required: false
                displayName: account[settings][lock_all_announcements][value]
                description: Disable comments on announcements
                type: boolean
              account[settings][lock_all_announcements][locked]:
                required: false
                displayName: account[settings][lock_all_announcements][locked]
                description: Lock this setting for sub-accounts and courses
                type: boolean
              account[settings][restrict_student_future_listing][value]:
                required: false
                displayName: account[settings][restrict_student_future_listing][value]
                description: Restrict students from viewing future enrollments in course list
                type: boolean
              account[settings][restrict_student_future_listing][locked]:
                required: false
                displayName: account[settings][restrict_student_future_listing][locked]
                description: Lock this setting for sub-accounts and courses
                type: boolean
              account[services]:
                required: false
                displayName: account[services]
                description: Give this a set of keys and boolean values to enable or disable services matching the keys
                type: object
                additionalProperties: true
                properties: {}
        responses:
          200:
            description: Success
            body:
              text/plain:
                displayName: response
                type: any
    /{account_id}:
      uriParameters:
        account_id:
          required: true
          displayName: account_id
          description: ID
          type: string
      /scopes:
        get:
          displayName: list_scopes
          description: List scopes
          queryParameters:
            group_by:
              required: false
              displayName: group_by
              description: The attribute to group the scopes by. By default no grouping is done.
              type: string
              enum:
              - resource_name
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
      /account_notifications:
        get:
          displayName: index_of_active_global_notification_for_user
          description: Index of active global notification for the user
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        post:
          displayName: create_global_notification
          description: Create a global notification
          body:
            multipart/form-data:
              type: object
              properties:
                account_notification[subject]:
                  required: true
                  displayName: account_notification[subject]
                  description: The subject of the notification.
                  type: string
                account_notification[message]:
                  required: true
                  displayName: account_notification[message]
                  description: The message body of the notification.
                  type: string
                account_notification[start_at]:
                  required: true
                  displayName: account_notification[start_at]
                  description: |
                    The start date and time of the notification in ISO8601 format.

                    e.g. 2014-01-01T01:00Z
                  type: object
                account_notification[end_at]:
                  required: true
                  displayName: account_notification[end_at]
                  description: |
                    The end date and time of the notification in ISO8601 format.

                    e.g. 2014-01-01T01:00Z
                  type: object
                account_notification[icon]:
                  required: false
                  displayName: account_notification[icon]
                  description: |
                    The icon to display with the notification.

                    Note: Defaults to warning.
                  type: string
                  enum:
                  - warning
                  - information
                  - question
                  - error
                  - calendar
                account_notification_roles:
                  required: false
                  displayName: account_notification_roles
                  description: |
                    The role(s) to send global notification to.  Note:  ommitting this field will send to everyone

                    Example:
                      account_notification_roles: ["StudentEnrollment", "TeacherEnrollment"]
                  type: array
                  items:
                    type: string
          responses:
            200:
              description: Success
        /{id}:
          uriParameters:
            id:
              required: true
              displayName: id
              description: ID
              type: string
          get:
            displayName: show_global_notification
            description: Show a global notification
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          delete:
            displayName: close_notification_for_user
            description: Close notification for user
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          put:
            displayName: update_global_notification
            description: Update a global notification
            body:
              multipart/form-data:
                type: object
                properties:
                  account_notification[subject]:
                    required: false
                    displayName: account_notification[subject]
                    description: The subject of the notification.
                    type: string
                  account_notification[message]:
                    required: false
                    displayName: account_notification[message]
                    description: The message body of the notification.
                    type: string
                  account_notification[start_at]:
                    required: false
                    displayName: account_notification[start_at]
                    description: |
                      The start date and time of the notification in ISO8601 format.

                      e.g. 2014-01-01T01:00Z
                    type: object
                  account_notification[end_at]:
                    required: false
                    displayName: account_notification[end_at]
                    description: |
                      The end date and time of the notification in ISO8601 format.

                      e.g. 2014-01-01T01:00Z
                    type: object
                  account_notification[icon]:
                    required: false
                    displayName: account_notification[icon]
                    description: The icon to display with the notification.
                    type: string
                    enum:
                    - warning
                    - information
                    - question
                    - error
                    - calendar
                  account_notification_roles:
                    required: false
                    displayName: account_notification_roles
                    description: |
                      The role(s) to send global notification to.  Note:  ommitting this field will send to everyone

                      Example:
                        account_notification_roles: ["StudentEnrollment", "TeacherEnrollment"]
                    type: array
                    items:
                      type: string
            responses:
              200:
                description: Success
      /reports:
        get:
          displayName: list_available_reports
          description: List Available Reports
          responses:
            200:
              description: Success
        /{report}:
          uriParameters:
            report:
              required: true
              displayName: report
              description: ID
              type: string
          post:
            displayName: start_report
            description: Start a Report
            body:
              multipart/form-data:
                type: object
                properties:
                  parameters:
                    required: false
                    displayName: parameters
                    description: |
                      The parameters will vary for each report. To fetch a list

                      of available parameters for each report, see {api:AccountReportsController#available_reports List Available Reports}.

                      A few example parameters have been provided below. Note that the example

                      parameters provided below may not be valid for every report.
                    type: string
                  parameters[course_id]:
                    required: false
                    displayName: parameters[course_id]
                    description: |
                      The id of the course to report on.

                      Note: this parameter has been listed to serve as an example and may not be

                      valid for every report.
                    type: integer
                    format: int64
                  parameters[users]:
                    required: false
                    displayName: parameters[users]
                    description: |
                      If true, user data will be included. If

                      false, user data will be omitted. Note: this parameter has been listed to

                      serve as an example and may not be valid for every report.
                    type: boolean
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          get:
            displayName: index_of_reports
            description: Index of Reports
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          /{id}:
            uriParameters:
              id:
                required: true
                displayName: id
                description: ID
                type: string
            get:
              displayName: status_of_report
              description: Status of a Report
              responses:
                200:
                  description: Success
                  body:
                    text/plain:
                      displayName: response
                      type: any
            delete:
              displayName: delete_report
              description: Delete a Report
              responses:
                200:
                  description: Success
                  body:
                    text/plain:
                      displayName: response
                      type: any
      /permissions:
        get:
          displayName: permissions
          description: Permissions
          queryParameters:
            permissions:
              required: false
              displayName: permissions
              description: |
                List of permissions to check against the authenticated user.

                Permission names are documented in the {api:RoleOverridesController#add_role Create a role} endpoint.
              type: array
              items:
                type: string
          responses:
            200:
              description: Success
      /sub_accounts:
        get:
          displayName: get_sub_accounts_of_account
          description: Get the sub-accounts of an account
          queryParameters:
            recursive:
              required: false
              displayName: recursive
              description: |
                If true, the entire account tree underneath

                this account will be returned (though still paginated). If false, only

                direct sub-accounts of this account will be returned. Defaults to false.
              type: boolean
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        post:
          displayName: create_new_sub_account
          description: Create a new sub-account
          body:
            multipart/form-data:
              type: object
              properties:
                account[name]:
                  required: true
                  displayName: account[name]
                  description: The name of the new sub-account.
                  type: string
                account[sis_account_id]:
                  required: false
                  displayName: account[sis_account_id]
                  description: The account's identifier in the Student Information System.
                  type: string
                account[default_storage_quota_mb]:
                  required: false
                  displayName: account[default_storage_quota_mb]
                  description: The default course storage quota to be used, if not otherwise specified.
                  type: integer
                  format: int64
                account[default_user_storage_quota_mb]:
                  required: false
                  displayName: account[default_user_storage_quota_mb]
                  description: The default user storage quota to be used, if not otherwise specified.
                  type: integer
                  format: int64
                account[default_group_storage_quota_mb]:
                  required: false
                  displayName: account[default_group_storage_quota_mb]
                  description: The default group storage quota to be used, if not otherwise specified.
                  type: integer
                  format: int64
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /{id}:
          uriParameters:
            id:
              required: true
              displayName: id
              description: ID
              type: string
          delete:
            displayName: delete_sub_account
            description: Delete a sub-account
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
      /terms_of_service:
        get:
          displayName: get_terms_of_service
          description: Get the Terms of Service
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
      /help_links:
        get:
          displayName: get_help_links
          description: Get help links
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
      /courses:
        get:
          displayName: list_active_courses_in_account
          description: List active courses in an account
          queryParameters:
            with_enrollments:
              required: false
              displayName: with_enrollments
              description: |
                If true, include only courses with at least one enrollment.  If false,

                include only courses with no enrollments.  If not present, do not filter

                on course enrollment status.
              type: boolean
            enrollment_type:
              required: false
              displayName: enrollment_type
              description: |
                If set, only return courses that have at least one user enrolled in

                in the course with one of the specified enrollment types.
              type: string
              enum:
              - teacher
              - student
              - ta
              - observer
              - designer
            published:
              required: false
              displayName: published
              description: |
                If true, include only published courses.  If false, exclude published

                courses.  If not present, do not filter on published status.
              type: boolean
            completed:
              required: false
              displayName: completed
              description: |
                If true, include only completed courses (these may be in state

                'completed', or their enrollment term may have ended).  If false, exclude

                completed courses.  If not present, do not filter on completed status.
              type: boolean
            blueprint:
              required: false
              displayName: blueprint
              description: |
                If true, include only blueprint courses. If false, exclude them.

                If not present, do not filter on this basis.
              type: boolean
            blueprint_associated:
              required: false
              displayName: blueprint_associated
              description: |
                If true, include only courses that inherit content from a blueprint course.

                If false, exclude them. If not present, do not filter on this basis.
              type: boolean
            by_teachers:
              required: false
              displayName: by_teachers
              description: |
                List of User IDs of teachers; if supplied, include only courses taught by

                one of the referenced users.
              type: array
              items:
                type: integer
                format: int32
            by_subaccounts:
              required: false
              displayName: by_subaccounts
              description: |
                List of Account IDs; if supplied, include only courses associated with one

                of the referenced subaccounts.
              type: array
              items:
                type: integer
                format: int32
            hide_enrollmentless_courses:
              required: false
              displayName: hide_enrollmentless_courses
              description: |
                If present, only return courses that have at least one enrollment.

                Equivalent to 'with_enrollments=true'; retained for compatibility.
              type: boolean
            state:
              required: false
              displayName: state
              description: |
                If set, only return courses that are in the given state(s). By default,

                all states but "deleted" are returned.
              type: string
              enum:
              - created
              - claimed
              - available
              - completed
              - deleted
              - all
            enrollment_term_id:
              required: false
              displayName: enrollment_term_id
              description: If set, only includes courses from the specified term.
              type: integer
              format: int64
            search_term:
              required: false
              displayName: search_term
              description: The partial course name, code, or full ID to match and return in the results list. Must be at least 3 characters.
              type: string
            include:
              required: false
              displayName: include
              description: |
                - All explanations can be seen in the {api:CoursesController#index Course API index documentation}

                - "sections", "needs_grading_count" and "total_scores" are not valid options at the account level
              type: string
              enum:
              - syllabus_body
              - term
              - course_progress
              - storage_quota_used_mb
              - total_students
              - teachers
              - account_name
              - concluded
            sort:
              required: false
              displayName: sort
              description: The column to sort results by.
              type: string
              enum:
              - course_name
              - sis_course_id
              - teacher
              - account_name
            order:
              required: false
              displayName: order
              description: The order to sort the given column by.
              type: string
              enum:
              - asc
              - desc
            search_by:
              required: false
              displayName: search_by
              description: |
                The filter to search by. "course" searches for course names, course codes,

                and SIS IDs. "teacher" searches for teacher names
              type: string
              enum:
              - course
              - teacher
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        post:
          displayName: create_new_course
          description: Create a new course
          body:
            multipart/form-data:
              type: object
              properties:
                course[name]:
                  required: false
                  displayName: course[name]
                  description: |
                    The name of the course. If omitted, the course will be named "Unnamed

                    Course."
                  type: string
                course[course_code]:
                  required: false
                  displayName: course[course_code]
                  description: The course code for the course.
                  type: string
                course[start_at]:
                  required: false
                  displayName: course[start_at]
                  description: Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z
                  type: object
                course[end_at]:
                  required: false
                  displayName: course[end_at]
                  description: Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z
                  type: object
                course[license]:
                  required: false
                  displayName: course[license]
                  description: |
                    The name of the licensing. Should be one of the following abbreviations

                    (a descriptive name is included in parenthesis for reference):

                    - 'private' (Private Copyrighted)

                    - 'cc_by_nc_nd' (CC Attribution Non-Commercial No Derivatives)

                    - 'cc_by_nc_sa' (CC Attribution Non-Commercial Share Alike)

                    - 'cc_by_nc' (CC Attribution Non-Commercial)

                    - 'cc_by_nd' (CC Attribution No Derivatives)

                    - 'cc_by_sa' (CC Attribution Share Alike)

                    - 'cc_by' (CC Attribution)

                    - 'public_domain' (Public Domain).
                  type: string
                course[is_public]:
                  required: false
                  displayName: course[is_public]
                  description: Set to true if course is public to both authenticated and unauthenticated users.
                  type: boolean
                course[is_public_to_auth_users]:
                  required: false
                  displayName: course[is_public_to_auth_users]
                  description: Set to true if course is public only to authenticated users.
                  type: boolean
                course[public_syllabus]:
                  required: false
                  displayName: course[public_syllabus]
                  description: Set to true to make the course syllabus public.
                  type: boolean
                course[public_syllabus_to_auth]:
                  required: false
                  displayName: course[public_syllabus_to_auth]
                  description: Set to true to make the course syllabus public for authenticated users.
                  type: boolean
                course[public_description]:
                  required: false
                  displayName: course[public_description]
                  description: A publicly visible description of the course.
                  type: string
                course[allow_student_wiki_edits]:
                  required: false
                  displayName: course[allow_student_wiki_edits]
                  description: If true, students will be able to modify the course wiki.
                  type: boolean
                course[allow_wiki_comments]:
                  required: false
                  displayName: course[allow_wiki_comments]
                  description: If true, course members will be able to comment on wiki pages.
                  type: boolean
                course[allow_student_forum_attachments]:
                  required: false
                  displayName: course[allow_student_forum_attachments]
                  description: If true, students can attach files to forum posts.
                  type: boolean
                course[open_enrollment]:
                  required: false
                  displayName: course[open_enrollment]
                  description: Set to true if the course is open enrollment.
                  type: boolean
                course[self_enrollment]:
                  required: false
                  displayName: course[self_enrollment]
                  description: Set to true if the course is self enrollment.
                  type: boolean
                course[restrict_enrollments_to_course_dates]:
                  required: false
                  displayName: course[restrict_enrollments_to_course_dates]
                  description: |
                    Set to true to restrict user enrollments to the start and end dates of the

                    course.
                  type: boolean
                course[term_id]:
                  required: false
                  displayName: course[term_id]
                  description: The unique ID of the term to create to course in.
                  type: integer
                  format: int64
                course[sis_course_id]:
                  required: false
                  displayName: course[sis_course_id]
                  description: The unique SIS identifier.
                  type: string
                course[integration_id]:
                  required: false
                  displayName: course[integration_id]
                  description: The unique Integration identifier.
                  type: string
                course[hide_final_grades]:
                  required: false
                  displayName: course[hide_final_grades]
                  description: |
                    If this option is set to true, the totals in student grades summary will

                    be hidden.
                  type: boolean
                course[apply_assignment_group_weights]:
                  required: false
                  displayName: course[apply_assignment_group_weights]
                  description: Set to true to weight final grade based on assignment groups percentages.
                  type: boolean
                course[time_zone]:
                  required: false
                  displayName: course[time_zone]
                  description: |
                    The time zone for the course. Allowed time zones are

                    {http://www.iana.org/time-zones IANA time zones} or friendlier

                    {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}.
                  type: string
                offer:
                  required: false
                  displayName: offer
                  description: |
                    If this option is set to true, the course will be available to students

                    immediately.
                  type: boolean
                enroll_me:
                  required: false
                  displayName: enroll_me
                  description: Set to true to enroll the current user as the teacher.
                  type: boolean
                course[default_view]:
                  required: false
                  displayName: course[default_view]
                  description: |
                    The type of page that users will see when they first visit the course

                    * 'feed' Recent Activity Dashboard

                    * 'modules' Course Modules/Sections Page

                    * 'assignments' Course Assignments List

                    * 'syllabus' Course Syllabus Page

                    other types may be added in the future
                  type: string
                  enum:
                  - feed
                  - wiki
                  - modules
                  - syllabus
                  - assignments
                course[syllabus_body]:
                  required: false
                  displayName: course[syllabus_body]
                  description: The syllabus body for the course
                  type: string
                course[grading_standard_id]:
                  required: false
                  displayName: course[grading_standard_id]
                  description: The grading standard id to set for the course.  If no value is provided for this argument the current grading_standard will be un-set from this course.
                  type: integer
                  format: int64
                course[course_format]:
                  required: false
                  displayName: course[course_format]
                  description: Optional. Specifies the format of the course. (Should be 'on_campus', 'online', or 'blended')
                  type: string
                enable_sis_reactivation:
                  required: false
                  displayName: enable_sis_reactivation
                  description: When true, will first try to re-activate a deleted course with matching sis_course_id if possible.
                  type: boolean
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        put:
          displayName: update_courses
          description: Update courses
          body:
            multipart/form-data:
              type: object
              properties:
                course_ids:
                  required: true
                  displayName: course_ids
                  description: List of ids of courses to update. At most 500 courses may be updated in one call.
                  type: array
                  items:
                    type: string
                event:
                  required: true
                  displayName: event
                  description: no description
                  type: string
                  enum:
                  - offer
                  - conclude
                  - delete
                  - undelete
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /{id}:
          uriParameters:
            id:
              required: true
              displayName: id
              description: ID
              type: string
          get:
            displayName: get_single_course_accounts
            description: Get a single course
            queryParameters:
              include:
                required: false
                displayName: include
                description: |
                  - "all_courses": Also search recently deleted courses.

                  - "permissions": Include permissions the current user has
                    for the course.
                  - "observed_users": include observed users in the enrollments

                  - "course_image": Optional course image data for when there is a course image
                    and the course image feature flag has been enabled
                  - "concluded": Optional information to include with each Course. Indicates whether
                    the course has been concluded, taking course and term dates into account.
                type: string
                enum:
                - needs_grading_count
                - syllabus_body
                - public_description
                - total_scores
                - current_grading_period_scores
                - term
                - account
                - course_progress
                - sections
                - storage_quota_used_mb
                - total_students
                - passback_status
                - favorites
                - teachers
                - observed_users
                - all_courses
                - permissions
                - course_image
                - concluded
              teacher_limit:
                required: false
                displayName: teacher_limit
                description: |
                  The maximum number of teacher enrollments to show.

                  If the course contains more teachers than this, instead of giving the teacher

                  enrollments, the count of teachers will be given under a _teacher_count_ key.
                type: integer
                format: int64
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
      /admins:
        post:
          displayName: make_account_admin
          description: Make an account admin
          body:
            multipart/form-data:
              type: object
              properties:
                user_id:
                  required: true
                  displayName: user_id
                  description: The id of the user to promote.
                  type: integer
                  format: int64
                role:
                  required: false
                  displayName: role
                  description: |
                    [DEPRECATED] The user's admin relationship with the account will be

                    created with the given role. Defaults to 'AccountAdmin'.
                  type: string
                role_id:
                  required: false
                  displayName: role_id
                  description: |
                    The user's admin relationship with the account will be created with the

                    given role. Defaults to the built-in role for 'AccountAdmin'.
                  type: integer
                  format: int64
                send_confirmation:
                  required: false
                  displayName: send_confirmation
                  description: |
                    Send a notification email to

                    the new admin if true. Default is true.
                  type: boolean
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        get:
          displayName: list_account_admins
          description: List account admins
          queryParameters:
            user_id:
              required: false
              displayName: user_id
              description: Scope the results to those with user IDs equal to any of the IDs specified here.
              type: array
              items:
                type: object
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /{user_id}:
          uriParameters:
            user_id:
              required: true
              displayName: user_id
              description: ID
              type: string
          delete:
            displayName: remove_account_admin
            description: Remove account admin
            queryParameters:
              role:
                required: false
                displayName: role
                description: |
                  [DEPRECATED] Account role to remove from the user. Defaults to

                  'AccountAdmin'. Any other account role must be specified explicitly.
                type: string
              role_id:
                required: false
                displayName: role_id
                description: |
                  The user's admin relationship with the account will be created with the

                  given role. Defaults to the built-in role for 'AccountAdmin'.
                type: integer
                format: int64
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
      /authentication_providers:
        get:
          displayName: list_authentication_providers
          description: List authentication providers
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        post:
          displayName: add_authentication_provider
          description: Add authentication provider
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /{id}:
          uriParameters:
            id:
              required: true
              displayName: id
              description: ID
              type: string
          put:
            displayName: update_authentication_provider
            description: Update authentication provider
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          get:
            displayName: get_authentication_provider
            description: Get authentication provider
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          delete:
            displayName: delete_authentication_provider
            description: Delete authentication provider
            responses:
              200:
                description: Success
      /sso_settings:
        get:
          displayName: show_account_auth_settings
          description: show account auth settings
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        put:
          displayName: update_account_auth_settings
          description: update account auth settings
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
      /content_migrations:
        get:
          displayName: list_content_migrations_accounts
          description: List content migrations
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        post:
          displayName: create_content_migration_accounts
          description: Create a content migration
          body:
            multipart/form-data:
              type: object
              properties:
                migration_type:
                  required: true
                  displayName: migration_type
                  description: |
                    The type of the migration. Use the

                    {api:ContentMigrationsController#available_migrators Migrator} endpoint to

                    see all available migrators. Default allowed values:

                    canvas_cartridge_importer, common_cartridge_importer,

                    course_copy_importer, zip_file_importer, qti_converter, moodle_converter
                  type: string
                pre_attachment[name]:
                  required: false
                  displayName: pre_attachment[name]
                  description: |
                    Required if uploading a file. This is the first step in uploading a file

                    to the content migration. See the {file:file_uploads.html File Upload

                    Documentation} for details on the file upload workflow.
                  type: string
                pre_attachment[*]:
                  required: false
                  displayName: pre_attachment[*]
                  description: |
                    Other file upload properties, See {file:file_uploads.html File Upload

                    Documentation}
                  type: string
                settings[file_url]:
                  required: false
                  displayName: settings[file_url]
                  description: A URL to download the file from. Must not require authentication.
                  type: string
                settings[source_course_id]:
                  required: false
                  displayName: settings[source_course_id]
                  description: |
                    The course to copy from for a course copy migration. (required if doing

                    course copy)
                  type: string
                settings[folder_id]:
                  required: false
                  displayName: settings[folder_id]
                  description: The folder to unzip the .zip file into for a zip_file_import.
                  type: string
                settings[overwrite_quizzes]:
                  required: false
                  displayName: settings[overwrite_quizzes]
                  description: |
                    Whether to overwrite quizzes with the same identifiers between content

                    packages.
                  type: boolean
                settings[question_bank_id]:
                  required: false
                  displayName: settings[question_bank_id]
                  description: |
                    The existing question bank ID to import questions into if not specified in

                    the content package.
                  type: integer
                  format: int64
                settings[question_bank_name]:
                  required: false
                  displayName: settings[question_bank_name]
                  description: |
                    The question bank to import questions into if not specified in the content

                    package, if both bank id and name are set, id will take precedence.
                  type: string
                date_shift_options[shift_dates]:
                  required: false
                  displayName: date_shift_options[shift_dates]
                  description: Whether to shift dates in the copied course
                  type: boolean
                date_shift_options[old_start_date]:
                  required: false
                  displayName: date_shift_options[old_start_date]
                  description: The original start date of the source content/course
                  type: object
                date_shift_options[old_end_date]:
                  required: false
                  displayName: date_shift_options[old_end_date]
                  description: The original end date of the source content/course
                  type: object
                date_shift_options[new_start_date]:
                  required: false
                  displayName: date_shift_options[new_start_date]
                  description: The new start date for the content/course
                  type: object
                date_shift_options[new_end_date]:
                  required: false
                  displayName: date_shift_options[new_end_date]
                  description: The new end date for the source content/course
                  type: object
                date_shift_options[day_substitutions][X]:
                  required: false
                  displayName: date_shift_options[day_substitutions][X]
                  description: |
                    Move anything scheduled for day 'X' to the specified day. (0-Sunday,

                    1-Monday, 2-Tuesday, 3-Wednesday, 4-Thursday, 5-Friday, 6-Saturday)
                  type: integer
                  format: int64
                date_shift_options[remove_dates]:
                  required: false
                  displayName: date_shift_options[remove_dates]
                  description: |
                    Whether to remove dates in the copied course. Cannot be used

                    in conjunction with *shift_dates*.
                  type: boolean
                selective_import:
                  required: false
                  displayName: selective_import
                  description: |
                    If set, perform a selective import instead of importing all content.

                    The migration will identify the contents of the package and then stop

                    in the +waiting_for_select+ workflow state. At this point, use the

                    {api:ContentMigrationsController#content_list List items endpoint}

                    to enumerate the contents of the package, identifying the copy

                    parameters for the desired content. Then call the

                    {api:ContentMigrationsController#update Update endpoint} and provide these

                    copy parameters to start the import.
                  type: boolean
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /{content_migration_id}/migration_issues:
          uriParameters:
            content_migration_id:
              required: true
              displayName: content_migration_id
              description: ID
              type: string
          get:
            displayName: list_migration_issues_accounts
            description: List migration issues
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          /{id}:
            uriParameters:
              id:
                required: true
                displayName: id
                description: ID
                type: string
            get:
              displayName: get_migration_issue_accounts
              description: Get a migration issue
              responses:
                200:
                  description: Success
                  body:
                    text/plain:
                      displayName: response
                      type: any
            put:
              displayName: update_migration_issue_accounts
              description: Update a migration issue
              body:
                multipart/form-data:
                  type: object
                  properties:
                    workflow_state:
                      required: true
                      displayName: workflow_state
                      description: Set the workflow_state of the issue.
                      type: string
                      enum:
                      - active
                      - resolved
              responses:
                200:
                  description: Success
                  body:
                    text/plain:
                      displayName: response
                      type: any
        /{id}:
          uriParameters:
            id:
              required: true
              displayName: id
              description: ID
              type: string
          get:
            displayName: get_content_migration_accounts
            description: Get a content migration
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          put:
            displayName: update_content_migration_accounts
            description: Update a content migration
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          /selective_data:
            get:
              displayName: list_items_for_selective_import_accounts
              description: List items for selective import
              queryParameters:
                type:
                  required: false
                  displayName: type
                  description: The type of content to enumerate.
                  type: string
                  enum:
                  - context_modules
                  - assignments
                  - quizzes
                  - assessment_question_banks
                  - discussion_topics
                  - wiki_pages
                  - context_external_tools
                  - tool_profiles
                  - announcements
                  - calendar_events
                  - rubrics
                  - groups
                  - learning_outcomes
                  - attachments
              responses:
                200:
                  description: Success
                  body:
                    text/plain:
                      displayName: response
                      type: any
        /migrators:
          get:
            displayName: list_migration_systems_accounts
            description: List Migration Systems
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
      /csp_settings:
        get:
          displayName: get_current_settings_for_account_or_course_accounts
          description: Get current settings for account or course
          responses:
            200:
              description: Success
        put:
          displayName: enable_disable_or_clear_explicit_csp_setting_accounts
          description: Enable, disable, or clear explicit CSP setting
          body:
            multipart/form-data:
              type: object
              properties:
                status:
                  required: true
                  displayName: status
                  description: |
                    If set to "enabled" for an account, CSP will be enabled for all its courses and sub-accounts (that

                    have not explicitly enabled or disabled it), using the domain whitelist set on this account.

                    If set to "disabled", CSP will be disabled for this account or course and for all sub-accounts

                    that have not explicitly re-enabled it.

                    If set to "inherited", this account or course will reset to the default state where CSP settings

                    are inherited from the first parent account to have them explicitly set.
                  type: string
                  enum:
                  - enabled
                  - disabled
                  - inherited
          responses:
            200:
              description: Success
        /lock:
          put:
            displayName: lock_or_unlock_current_csp_settings_for_sub_accounts_and_courses
            description: Lock or unlock current CSP settings for sub-accounts and courses
            body:
              multipart/form-data:
                type: object
                properties:
                  settings_locked:
                    required: true
                    displayName: settings_locked
                    description: Whether sub-accounts and courses will be prevented from overriding settings inherited from this account.
                    type: boolean
            responses:
              200:
                description: Success
        /domains:
          post:
            displayName: add_domain_to_account_whitelist
            description: Add a domain to account whitelist
            body:
              multipart/form-data:
                type: object
                properties:
                  domain:
                    required: true
                    displayName: domain
                    description: no description
                    type: string
            responses:
              200:
                description: Success
          delete:
            displayName: remove_domain_from_account_whitelist
            description: Remove a domain from account whitelist
            queryParameters:
              domain:
                required: true
                displayName: domain
                description: no description
                type: string
            responses:
              200:
                description: Success
          /batch_create:
            post:
              displayName: add_multiple_domains_to_account_whitelist
              description: Add multiple domains to account whitelist
              body:
                multipart/form-data:
                  type: object
                  properties:
                    domains:
                      required: true
                      displayName: domains
                      description: no description
                      type: object
              responses:
                200:
                  description: Success
      /terms:
        post:
          displayName: create_enrollment_term
          description: Create enrollment term
          body:
            multipart/form-data:
              type: object
              properties:
                enrollment_term[name]:
                  required: false
                  displayName: enrollment_term[name]
                  description: The name of the term.
                  type: string
                enrollment_term[start_at]:
                  required: false
                  displayName: enrollment_term[start_at]
                  description: |
                    The day/time the term starts.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.
                  type: object
                enrollment_term[end_at]:
                  required: false
                  displayName: enrollment_term[end_at]
                  description: |
                    The day/time the term ends.

                    Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.
                  type: object
                enrollment_term[sis_term_id]:
                  required: false
                  displayName: enrollment_term[sis_term_id]
                  description: The unique SIS identifier for the term.
                  type: string
                enrollment_term[overrides][enrollment_type][start_at]:
                  required: false
                  displayName: enrollment_term[overrides][enrollment_type][start_at]
                  description: |
                    The day/time the term starts, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment
                  type: object
                enrollment_term[overrides][enrollment_type][end_at]:
                  required: false
                  displayName: enrollment_term[overrides][enrollment_type][end_at]
                  description: |
                    The day/time the term ends, overridden for the given enrollment type.

                    *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment
                  type: object
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        get:
          displayName: list_enrollment_terms
          description: List enrollment terms
          queryParameters:
            workflow_state:
              required: false
              displayName: workflow_state
              description: |
                If set, only returns terms that are in the given state.

                Defaults to 'active'.
              type: string
              enum:
              - active
              - deleted
              - all
            include:
              required: false
              displayName: include
              description: |
                Array of additional information to include.


                "overrides":: term start/end dates overridden for different enrollment types
              type: string
              enum:
              - overrides
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /{id}:
          uriParameters:
            id:
              required: true
              displayName: id
              description: ID
              type: string
          put:
            displayName: update_enrollment_term
            description: Update enrollment term
            body:
              multipart/form-data:
                type: object
                properties:
                  enrollment_term[name]:
                    required: false
                    displayName: enrollment_term[name]
                    description: The name of the term.
                    type: string
                  enrollment_term[start_at]:
                    required: false
                    displayName: enrollment_term[start_at]
                    description: |
                      The day/time the term starts.

                      Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.
                    type: object
                  enrollment_term[end_at]:
                    required: false
                    displayName: enrollment_term[end_at]
                    description: |
                      The day/time the term ends.

                      Accepts times in ISO 8601 format, e.g. 2015-01-10T18:48:00Z.
                    type: object
                  enrollment_term[sis_term_id]:
                    required: false
                    displayName: enrollment_term[sis_term_id]
                    description: The unique SIS identifier for the term.
                    type: string
                  enrollment_term[overrides][enrollment_type][start_at]:
                    required: false
                    displayName: enrollment_term[overrides][enrollment_type][start_at]
                    description: |
                      The day/time the term starts, overridden for the given enrollment type.

                      *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment
                    type: object
                  enrollment_term[overrides][enrollment_type][end_at]:
                    required: false
                    displayName: enrollment_term[overrides][enrollment_type][end_at]
                    description: |
                      The day/time the term ends, overridden for the given enrollment type.

                      *enrollment_type* can be one of StudentEnrollment, TeacherEnrollment, TaEnrollment, or DesignerEnrollment
                    type: object
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          delete:
            displayName: delete_enrollment_term
            description: Delete enrollment term
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
      /enrollments/{id}:
        uriParameters:
          id:
            required: true
            displayName: id
            description: The ID of the enrollment object
            type: integer
            format: int64
        get:
          displayName: enrollment_by_id
          description: Enrollment by ID
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
      /external_tools:
        get:
          displayName: list_external_tools_accounts
          description: List external tools
          queryParameters:
            search_term:
              required: false
              displayName: search_term
              description: The partial name of the tools to match and return.
              type: string
            selectable:
              required: false
              displayName: selectable
              description: If true, then only tools that are meant to be selectable are returned
              type: boolean
            include_parents:
              required: false
              displayName: include_parents
              description: If true, then include tools installed in all accounts above the current context
              type: boolean
          responses:
            200:
              description: Success
        post:
          displayName: create_external_tool_accounts
          description: Create an external tool
          body:
            multipart/form-data:
              type: object
              properties:
                name:
                  required: true
                  displayName: name
                  description: The name of the tool
                  type: string
                privacy_level:
                  required: true
                  displayName: privacy_level
                  description: What information to send to the external tool.
                  type: string
                consumer_key:
                  required: true
                  displayName: consumer_key
                  description: The consumer key for the external tool
                  type: string
                shared_secret:
                  required: true
                  displayName: shared_secret
                  description: The shared secret with the external tool
                  type: string
                description:
                  required: false
                  displayName: description
                  description: A description of the tool
                  type: string
                url:
                  required: false
                  displayName: url
                  description: |
                    The url to match links against. Either "url" or "domain" should be set,

                    not both.
                  type: string
                domain:
                  required: false
                  displayName: domain
                  description: |
                    The domain to match links against. Either "url" or "domain" should be

                    set, not both.
                  type: string
                icon_url:
                  required: false
                  displayName: icon_url
                  description: The url of the icon to show for this tool
                  type: string
                text:
                  required: false
                  displayName: text
                  description: The default text to show for this tool
                  type: string
                custom_fields[field_name]:
                  required: false
                  displayName: custom_fields[field_name]
                  description: |
                    Custom fields that will be sent to the tool consumer; can be used

                    multiple times
                  type: string
                account_navigation[url]:
                  required: false
                  displayName: account_navigation[url]
                  description: The url of the external tool for account navigation
                  type: string
                account_navigation[enabled]:
                  required: false
                  displayName: account_navigation[enabled]
                  description: Set this to enable this feature
                  type: boolean
                account_navigation[text]:
                  required: false
                  displayName: account_navigation[text]
                  description: The text that will show on the left-tab in the account navigation
                  type: string
                account_navigation[selection_width]:
                  required: false
                  displayName: account_navigation[selection_width]
                  description: The width of the dialog the tool is launched in
                  type: string
                account_navigation[selection_height]:
                  required: false
                  displayName: account_navigation[selection_height]
                  description: The height of the dialog the tool is launched in
                  type: string
                account_navigation[display_type]:
                  required: false
                  displayName: account_navigation[display_type]
                  description: |
                    The layout type to use when launching the tool. Must be

                    "full_width", "full_width_in_context", "borderless", or "default"
                  type: string
                user_navigation[url]:
                  required: false
                  displayName: user_navigation[url]
                  description: The url of the external tool for user navigation
                  type: string
                user_navigation[enabled]:
                  required: false
                  displayName: user_navigation[enabled]
                  description: Set this to enable this feature
                  type: boolean
                user_navigation[text]:
                  required: false
                  displayName: user_navigation[text]
                  description: The text that will show on the left-tab in the user navigation
                  type: string
                user_navigation[visibility]:
                  required: false
                  displayName: user_navigation[visibility]
                  description: |
                    Who will see the navigation tab. "admins" for admins, "public" or

                    "members" for everyone
                  type: string
                course_home_sub_navigation[url]:
                  required: false
                  displayName: course_home_sub_navigation[url]
                  description: The url of the external tool for right-side course home navigation menu
                  type: string
                course_home_sub_navigation[enabled]:
                  required: false
                  displayName: course_home_sub_navigation[enabled]
                  description: Set this to enable this feature
                  type: boolean
                course_home_sub_navigation[text]:
                  required: false
                  displayName: course_home_sub_navigation[text]
                  description: The text that will show on the right-side course home navigation menu
                  type: string
                course_home_sub_navigation[icon_url]:
                  required: false
                  displayName: course_home_sub_navigation[icon_url]
                  description: The url of the icon to show in the right-side course home navigation menu
                  type: string
                course_navigation[enabled]:
                  required: false
                  displayName: course_navigation[enabled]
                  description: Set this to enable this feature
                  type: boolean
                course_navigation[text]:
                  required: false
                  displayName: course_navigation[text]
                  description: The text that will show on the left-tab in the course navigation
                  type: string
                course_navigation[visibility]:
                  required: false
                  displayName: course_navigation[visibility]
                  description: |
                    Who will see the navigation tab. "admins" for course admins, "members" for

                    students, null for everyone
                  type: string
                  enum:
                  - admins
                  - members
                course_navigation[windowTarget]:
                  required: false
                  displayName: course_navigation[windowTarget]
                  description: |
                    Determines how the navigation tab will be opened.

                    "_blank"	Launches the external tool in a new window or tab.

                    "_self"	(Default) Launches the external tool in an iframe inside of Canvas.
                  type: string
                  enum:
                  - _blank
                  - _self
                course_navigation[default]:
                  required: false
                  displayName: course_navigation[default]
                  description: |
                    Whether the navigation option will show in the course by default or

                    whether the teacher will have to explicitly enable it
                  type: boolean
                course_navigation[display_type]:
                  required: false
                  displayName: course_navigation[display_type]
                  description: |
                    The layout type to use when launching the tool. Must be

                    "full_width", "full_width_in_context", "borderless", or "default"
                  type: string
                editor_button[url]:
                  required: false
                  displayName: editor_button[url]
                  description: The url of the external tool
                  type: string
                editor_button[enabled]:
                  required: false
                  displayName: editor_button[enabled]
                  description: Set this to enable this feature
                  type: boolean
                editor_button[icon_url]:
                  required: false
                  displayName: editor_button[icon_url]
                  description: The url of the icon to show in the WYSIWYG editor
                  type: string
                editor_button[selection_width]:
                  required: false
                  displayName: editor_button[selection_width]
                  description: The width of the dialog the tool is launched in
                  type: string
                editor_button[selection_height]:
                  required: false
                  displayName: editor_button[selection_height]
                  description: The height of the dialog the tool is launched in
                  type: string
                editor_button[message_type]:
                  required: false
                  displayName: editor_button[message_type]
                  description: |
                    Set this to ContentItemSelectionRequest to tell the tool to use

                    content-item; otherwise, omit
                  type: string
                homework_submission[url]:
                  required: false
                  displayName: homework_submission[url]
                  description: The url of the external tool
                  type: string
                homework_submission[enabled]:
                  required: false
                  displayName: homework_submission[enabled]
                  description: Set this to enable this feature
                  type: boolean
                homework_submission[text]:
                  required: false
                  displayName: homework_submission[text]
                  description: The text that will show on the homework submission tab
                  type: string
                homework_submission[message_type]:
                  required: false
                  displayName: homework_submission[message_type]
                  description: |
                    Set this to ContentItemSelectionRequest to tell the tool to use

                    content-item; otherwise, omit
                  type: string
                link_selection[url]:
                  required: false
                  displayName: link_selection[url]
                  description: The url of the external tool
                  type: string
                link_selection[enabled]:
                  required: false
                  displayName: link_selection[enabled]
                  description: Set this to enable this feature
                  type: boolean
                link_selection[text]:
                  required: false
                  displayName: link_selection[text]
                  description: The text that will show for the link selection text
                  type: string
                link_selection[message_type]:
                  required: false
                  displayName: link_selection[message_type]
                  description: |
                    Set this to ContentItemSelectionRequest to tell the tool to use

                    content-item; otherwise, omit
                  type: string
                migration_selection[url]:
                  required: false
                  displayName: migration_selection[url]
                  description: The url of the external tool
                  type: string
                migration_selection[enabled]:
                  required: false
                  displayName: migration_selection[enabled]
                  description: Set this to enable this feature
                  type: boolean
                migration_selection[message_type]:
                  required: false
                  displayName: migration_selection[message_type]
                  description: |
                    Set this to ContentItemSelectionRequest to tell the tool to use

                    content-item; otherwise, omit
                  type: string
                tool_configuration[url]:
                  required: false
                  displayName: tool_configuration[url]
                  description: The url of the external tool
                  type: string
                tool_configuration[enabled]:
                  required: false
                  displayName: tool_configuration[enabled]
                  description: Set this to enable this feature
                  type: boolean
                tool_configuration[message_type]:
                  required: false
                  displayName: tool_configuration[message_type]
                  description: |
                    Set this to ContentItemSelectionRequest to tell the tool to use

                    content-item; otherwise, omit
                  type: string
                tool_configuration[prefer_sis_email]:
                  required: false
                  displayName: tool_configuration[prefer_sis_email]
                  description: |
                    Set this to default the lis_person_contact_email_primary to prefer

                    provisioned sis_email; otherwise, omit
                  type: boolean
                resource_selection[url]:
                  required: false
                  displayName: resource_selection[url]
                  description: The url of the external tool
                  type: string
                resource_selection[enabled]:
                  required: false
                  displayName: resource_selection[enabled]
                  description: Set this to enable this feature
                  type: boolean
                resource_selection[icon_url]:
                  required: false
                  displayName: resource_selection[icon_url]
                  description: The url of the icon to show in the module external tool list
                  type: string
                resource_selection[selection_width]:
                  required: false
                  displayName: resource_selection[selection_width]
                  description: The width of the dialog the tool is launched in
                  type: string
                resource_selection[selection_height]:
                  required: false
                  displayName: resource_selection[selection_height]
                  description: The height of the dialog the tool is launched in
                  type: string
                config_type:
                  required: false
                  displayName: config_type
                  description: |
                    Configuration can be passed in as CC xml instead of using query

                    parameters. If this value is "by_url" or "by_xml" then an xml

                    configuration will be expected in either the "config_xml" or "config_url"

                    parameter. Note that the name parameter overrides the tool name provided

                    in the xml
                  type: string
                config_xml:
                  required: false
                  displayName: config_xml
                  description: |
                    XML tool configuration, as specified in the CC xml specification. This is

                    required if "config_type" is set to "by_xml"
                  type: string
                config_url:
                  required: false
                  displayName: config_url
                  description: |
                    URL where the server can retrieve an XML tool configuration, as specified

                    in the CC xml specification. This is required if "config_type" is set to

                    "by_url"
                  type: string
                not_selectable:
                  required: false
                  displayName: not_selectable
                  description: |
                    Default: false, if set to true the tool won't show up in the external tool

                    selection UI in modules and assignments
                  type: boolean
                oauth_compliant:
                  required: false
                  displayName: oauth_compliant
                  description: |
                    Default: false, if set to true LTI query params will not be copied to the

                    post body.
                  type: boolean
          responses:
            200:
              description: Success
        /sessionless_launch:
          get:
            displayName: get_sessionless_launch_url_for_external_tool_accounts
            description: Get a sessionless launch url for an external tool.
            queryParameters:
              id:
                required: false
                displayName: id
                description: The external id of the tool to launch.
                type: string
              url:
                required: false
                displayName: url
                description: The LTI launch url for the external tool.
                type: string
              assignment_id:
                required: false
                displayName: assignment_id
                description: The assignment id for an assignment launch. Required if launch_type is set to "assessment".
                type: string
              module_item_id:
                required: false
                displayName: module_item_id
                description: The assignment id for a module item launch. Required if launch_type is set to "module_item".
                type: string
              launch_type:
                required: false
                displayName: launch_type
                description: |
                  The type of launch to perform on the external tool. Placement names (eg. "course_navigation")

                  can also be specified to use the custom launch url for that placement; if done, the tool id

                  must be provided.
                type: string
                enum:
                - assessment
                - module_item
            responses:
              200:
                description: Success
        /{external_tool_id}:
          uriParameters:
            external_tool_id:
              required: true
              displayName: external_tool_id
              description: ID
              type: string
          get:
            displayName: get_single_external_tool_accounts
            description: Get a single external tool
            responses:
              200:
                description: Success
          put:
            displayName: edit_external_tool_accounts
            description: Edit an external tool
            responses:
              200:
                description: Success
          delete:
            displayName: delete_external_tool_accounts
            description: Delete an external tool
            responses:
              200:
                description: Success
      /features:
        get:
          displayName: list_features_accounts
          description: List features
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /enabled:
          get:
            displayName: list_enabled_features_accounts
            description: List enabled features
            responses:
              200:
                description: Success
        /flags/{feature}:
          uriParameters:
            feature:
              required: true
              displayName: feature
              description: ID
              type: string
          get:
            displayName: get_feature_flag_accounts
            description: Get feature flag
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          put:
            displayName: set_feature_flag_accounts
            description: Set feature flag
            body:
              multipart/form-data:
                type: object
                properties:
                  state:
                    required: false
                    displayName: state
                    description: |
                      "off":: The feature is not available for the course, user, or account and sub-accounts.

                      "allowed":: (valid only on accounts) The feature is off in the account, but may be enabled in
                                  sub-accounts and courses by setting a feature flag on the sub-account or course.
                      "on":: The feature is turned on unconditionally for the user, course, or account and sub-accounts.
                    type: string
                    enum:
                    - off
                    - allowed
                    - on
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
          delete:
            displayName: remove_feature_flag_accounts
            description: Remove feature flag
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
      /grading_periods:
        get:
          displayName: list_grading_periods_accounts
          description: List grading periods
          responses:
            200:
              description: Success
        /{id}:
          uriParameters:
            id:
              required: true
              displayName: id
              description: ID
              type: string
          delete:
            displayName: delete_grading_period_accounts
            description: Delete a grading period
            responses:
              200:
                description: Success
      /grading_standards:
        post:
          displayName: create_new_grading_standard_accounts
          description: Create a new grading standard
          body:
            multipart/form-data:
              type: object
              properties:
                title:
                  required: true
                  displayName: title
                  description: The title for the Grading Standard.
                  type: string
                grading_scheme_entry[name]:
                  required: true
                  displayName: grading_scheme_entry[name]
                  description: |
                    The name for an entry value within a GradingStandard that describes the range of the value

                    e.g. A-
                  type: array
                  items:
                    type: string
                grading_scheme_entry[value]:
                  required: true
                  displayName: grading_scheme_entry[value]
                  description: |
                    The value for the name of the entry within a GradingStandard.

                    The entry represents the lower bound of the range for the entry.

                    This range includes the value up to the next entry in the GradingStandard,

                    or 100 if there is no upper bound. The lowest value will have a lower bound range of 0.

                    e.g. 93
                  type: array
                  items:
                    type: integer
                    format: int32
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        get:
          displayName: list_grading_standards_available_in_context_accounts
          description: List the grading standards available in a context.
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        /{grading_standard_id}:
          uriParameters:
            grading_standard_id:
              required: true
              displayName: grading_standard_id
              description: ID
              type: string
          get:
            displayName: get_single_grading_standard_in_context_accounts
            description: Get a single grading standard in a context.
            responses:
              200:
                description: Success
                body:
                  text/plain:
                    displayName: response
                    type: any
      /group_categories:
        get:
          displayName: list_group_categories_for_context_accounts
          description: List group categories for a context
          responses:
            200:
              description: Success
              body:
                text/plain:
                  displayName: response
                  type: any
        post:
          displayName: create_group_category_accounts
          description: Create a Group Category
          body:
            multipart/form-data:
              type: object
              properties:
                name:
                  required: true
                  displayName: name
                  description: Name of the group category
                  type: string
                self_signup:
                  required: false
                  displayName: self_signup
                  description: |
                    Allow students to sign up for a group themselves (Course Only).

                    valid values are:

                    "enabled":: allows students to self sign up for any group in course

                    "restricted":: allows students to self sign up only for groups in the
                                   same section null disallows self sign up
                  type: string
                  enum:
                  - enabled
                  - restricted
                auto_leader:
                  required: false
                  displayName: auto_leader
                  description: |
                    Assigns group leaders automatically when generating and allocating students to groups

                    Valid values are:

                    "first":: the first student to be allocated to a group is the leader

                    "random":: a random student from all members is chosen as the leader
                  type: string
                  enum:
                  - first
                  - random
                group_limit:
                  required: false
                  displayName: group_limit
                  description: |
                    Limit the maximum number of users in each group (Course Only). Requires

                    self signup.
                  type: integer
                  format: int64
                sis_group_category_id:
                  required: false
                  displayName: sis_group_category_id
                  description: The unique SIS identifier.
                  type: string
                create_group_count:
                  required: false
                  displayName: create_group_count
                  description: Create this number of groups (Course Only).
                  type: integer
                  format: int64
                split_group_count:
                  required: false
                  displayName: split_group_count
                  description: |
                    (Deprecated)

                    Create this number of groups, and evenly distribute students

                    among them. not allowed with "enable_self_signup". because

[...]
