{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Swagger API",
    "contact": {}
  },
  "host": "canvas.instructure.com",
  "basePath": "/doc/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/accounts/{account_id}/scopes": {
      "get": {
        "description": "List scopes",
        "summary": "list_scopes",
        "tags": [
          "api_token_scopes"
        ],
        "operationId": "V1AccountsScopesByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "enum": [
              "resource_name"
            ],
            "type": "string",
            "description": "The attribute to group the scopes by. By default no grouping is done."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/search": {
      "get": {
        "description": "Search account domains",
        "summary": "search_account_domains",
        "tags": [
          "account_domain_lookups"
        ],
        "operationId": "V1AccountsSearchGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "campus name"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "no description"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "no description"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "no description"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/account_notifications": {
      "get": {
        "description": "Index of active global notification for the user",
        "summary": "index_of_active_global_notification_for_user",
        "tags": [
          "account_notifications"
        ],
        "operationId": "V1AccountsAccountNotificationsByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "Create a global notification",
        "summary": "create_global_notification",
        "tags": [
          "account_notifications"
        ],
        "operationId": "V1AccountsAccountNotificationsByAccountIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "account_notification[subject]",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The subject of the notification."
          },
          {
            "name": "account_notification[message]",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The message body of the notification."
          },
          {
            "name": "account_notification[start_at]",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The start date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
          },
          {
            "name": "account_notification[end_at]",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The end date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
          },
          {
            "name": "account_notification[icon]",
            "in": "formData",
            "required": false,
            "enum": [
              "warning",
              "information",
              "question",
              "error",
              "calendar"
            ],
            "type": "string",
            "description": "The icon to display with the notification.\nNote: Defaults to warning."
          },
          {
            "name": "account_notification_roles",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The role(s) to send global notification to.  Note:  ommitting this field will send to everyone\nExample:\n  account_notification_roles: [\"StudentEnrollment\", \"TeacherEnrollment\"]"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/account_notifications/{id}": {
      "get": {
        "description": "Show a global notification",
        "summary": "show_global_notification",
        "tags": [
          "account_notifications"
        ],
        "operationId": "V1AccountsAccountNotificationsByAccountIdAndIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "description": "Close notification for user",
        "summary": "close_notification_for_user",
        "tags": [
          "account_notifications"
        ],
        "operationId": "V1AccountsAccountNotificationsByAccountIdAndIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "put": {
        "description": "Update a global notification",
        "summary": "update_global_notification",
        "tags": [
          "account_notifications"
        ],
        "operationId": "V1AccountsAccountNotificationsByAccountIdAndIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "account_notification[subject]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The subject of the notification."
          },
          {
            "name": "account_notification[message]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The message body of the notification."
          },
          {
            "name": "account_notification[start_at]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The start date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
          },
          {
            "name": "account_notification[end_at]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The end date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
          },
          {
            "name": "account_notification[icon]",
            "in": "formData",
            "required": false,
            "enum": [
              "warning",
              "information",
              "question",
              "error",
              "calendar"
            ],
            "type": "string",
            "description": "The icon to display with the notification."
          },
          {
            "name": "account_notification_roles",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The role(s) to send global notification to.  Note:  ommitting this field will send to everyone\nExample:\n  account_notification_roles: [\"StudentEnrollment\", \"TeacherEnrollment\"]"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/reports": {
      "get": {
        "description": "List Available Reports",
        "summary": "list_available_reports",
        "tags": [
          "account_reports"
        ],
        "operationId": "V1AccountsReportsByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/reports/{report}": {
      "post": {
        "description": "Start a Report",
        "summary": "start_report",
        "tags": [
          "account_reports"
        ],
        "operationId": "V1AccountsReportsByAccountIdAndReportPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "report",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "parameters",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The parameters will vary for each report. To fetch a list\nof available parameters for each report, see {api:AccountReportsController#available_reports List Available Reports}.\nA few example parameters have been provided below. Note that the example\nparameters provided below may not be valid for every report."
          },
          {
            "name": "parameters[course_id]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the course to report on.\nNote: this parameter has been listed to serve as an example and may not be\nvalid for every report."
          },
          {
            "name": "parameters[users]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If true, user data will be included. If\nfalse, user data will be omitted. Note: this parameter has been listed to\nserve as an example and may not be valid for every report."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "get": {
        "description": "Index of Reports",
        "summary": "index_of_reports",
        "tags": [
          "account_reports"
        ],
        "operationId": "V1AccountsReportsByAccountIdAndReportGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "report",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/reports/{report}/{id}": {
      "get": {
        "description": "Status of a Report",
        "summary": "status_of_report",
        "tags": [
          "account_reports"
        ],
        "operationId": "V1AccountsReportsIdByAccountIdAndReportGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "report",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "description": "Delete a Report",
        "summary": "delete_report",
        "tags": [
          "account_reports"
        ],
        "operationId": "V1AccountsReportsIdByAccountIdAndReportDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "report",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts": {
      "get": {
        "description": "List accounts",
        "summary": "list_accounts",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "enum": [
              "lti_guid",
              "registration_settings",
              "services"
            ],
            "type": "string",
            "description": "Array of additional information to include.\n\n\"lti_guid\":: the 'tool_consumer_instance_guid' that will be sent for this account on LTI launches\n\"registration_settings\":: returns info about the privacy policy and terms of use\n\"services\":: returns services and whether they are enabled (requires account management permissions)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/course_accounts": {
      "get": {
        "description": "List accounts for course admins",
        "summary": "list_accounts_for_course_admins",
        "tags": [
          "accounts"
        ],
        "operationId": "V1CourseAccountsGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{id}": {
      "get": {
        "description": "Get a single account",
        "summary": "get_single_account",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsByIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "put": {
        "description": "Update an account",
        "summary": "update_account",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsByIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "account[name]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Updates the account name"
          },
          {
            "name": "account[sis_account_id]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Updates the account sis_account_id\nMust have manage_sis permission and must not be a root_account."
          },
          {
            "name": "account[default_time_zone]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The default time zone of the account. Allowed time zones are\n{http://www.iana.org/time-zones IANA time zones} or friendlier\n{http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}."
          },
          {
            "name": "account[default_storage_quota_mb]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The default course storage quota to be used, if not otherwise specified."
          },
          {
            "name": "account[default_user_storage_quota_mb]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The default user storage quota to be used, if not otherwise specified."
          },
          {
            "name": "account[default_group_storage_quota_mb]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The default group storage quota to be used, if not otherwise specified."
          },
          {
            "name": "account[settings][restrict_student_past_view][value]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Restrict students from viewing courses after end date"
          },
          {
            "name": "account[settings][restrict_student_past_view][locked]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Lock this setting for sub-accounts and courses"
          },
          {
            "name": "account[settings][restrict_student_future_view][value]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Restrict students from viewing courses before start date"
          },
          {
            "name": "account[settings][restrict_student_future_view][locked]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Lock this setting for sub-accounts and courses"
          },
          {
            "name": "account[settings][lock_all_announcements][value]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Disable comments on announcements"
          },
          {
            "name": "account[settings][lock_all_announcements][locked]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Lock this setting for sub-accounts and courses"
          },
          {
            "name": "account[settings][restrict_student_future_listing][value]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Restrict students from viewing future enrollments in course list"
          },
          {
            "name": "account[settings][restrict_student_future_listing][locked]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Lock this setting for sub-accounts and courses"
          },
          {
            "name": "account[services]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Give this a set of keys and boolean values to enable or disable services matching the keys"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/permissions": {
      "get": {
        "description": "Permissions",
        "summary": "permissions",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsPermissionsByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "permissions",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of permissions to check against the authenticated user.\nPermission names are documented in the {api:RoleOverridesController#add_role Create a role} endpoint."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/sub_accounts": {
      "get": {
        "description": "Get the sub-accounts of an account",
        "summary": "get_sub_accounts_of_account",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsSubAccountsByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If true, the entire account tree underneath\nthis account will be returned (though still paginated). If false, only\ndirect sub-accounts of this account will be returned. Defaults to false."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "Create a new sub-account",
        "summary": "create_new_sub_account",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsSubAccountsByAccountIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "account[name]",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The name of the new sub-account."
          },
          {
            "name": "account[sis_account_id]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The account's identifier in the Student Information System."
          },
          {
            "name": "account[default_storage_quota_mb]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The default course storage quota to be used, if not otherwise specified."
          },
          {
            "name": "account[default_user_storage_quota_mb]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The default user storage quota to be used, if not otherwise specified."
          },
          {
            "name": "account[default_group_storage_quota_mb]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The default group storage quota to be used, if not otherwise specified."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/terms_of_service": {
      "get": {
        "description": "Get the Terms of Service",
        "summary": "get_terms_of_service",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsTermsOfServiceByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/help_links": {
      "get": {
        "description": "Get help links",
        "summary": "get_help_links",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsHelpLinksByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/courses": {
      "get": {
        "description": "List active courses in an account",
        "summary": "list_active_courses_in_account",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsCoursesByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "with_enrollments",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If true, include only courses with at least one enrollment.  If false,\ninclude only courses with no enrollments.  If not present, do not filter\non course enrollment status."
          },
          {
            "name": "enrollment_type",
            "in": "query",
            "required": false,
            "enum": [
              "teacher",
              "student",
              "ta",
              "observer",
              "designer"
            ],
            "type": "string",
            "description": "If set, only return courses that have at least one user enrolled in\nin the course with one of the specified enrollment types."
          },
          {
            "name": "published",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If true, include only published courses.  If false, exclude published\ncourses.  If not present, do not filter on published status."
          },
          {
            "name": "completed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If true, include only completed courses (these may be in state\n'completed', or their enrollment term may have ended).  If false, exclude\ncompleted courses.  If not present, do not filter on completed status."
          },
          {
            "name": "blueprint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If true, include only blueprint courses. If false, exclude them.\nIf not present, do not filter on this basis."
          },
          {
            "name": "blueprint_associated",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If true, include only courses that inherit content from a blueprint course.\nIf false, exclude them. If not present, do not filter on this basis."
          },
          {
            "name": "by_teachers",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "List of User IDs of teachers; if supplied, include only courses taught by\none of the referenced users."
          },
          {
            "name": "by_subaccounts",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "List of Account IDs; if supplied, include only courses associated with one\nof the referenced subaccounts."
          },
          {
            "name": "hide_enrollmentless_courses",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If present, only return courses that have at least one enrollment.\nEquivalent to 'with_enrollments=true'; retained for compatibility."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "enum": [
              "created",
              "claimed",
              "available",
              "completed",
              "deleted",
              "all"
            ],
            "type": "string",
            "description": "If set, only return courses that are in the given state(s). By default,\nall states but \"deleted\" are returned."
          },
          {
            "name": "enrollment_term_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "If set, only includes courses from the specified term."
          },
          {
            "name": "search_term",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The partial course name, code, or full ID to match and return in the results list. Must be at least 3 characters."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "enum": [
              "syllabus_body",
              "term",
              "course_progress",
              "storage_quota_used_mb",
              "total_students",
              "teachers",
              "account_name",
              "concluded"
            ],
            "type": "string",
            "description": "- All explanations can be seen in the {api:CoursesController#index Course API index documentation}\n- \"sections\", \"needs_grading_count\" and \"total_scores\" are not valid options at the account level"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "enum": [
              "course_name",
              "sis_course_id",
              "teacher",
              "account_name"
            ],
            "type": "string",
            "description": "The column to sort results by."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "description": "The order to sort the given column by."
          },
          {
            "name": "search_by",
            "in": "query",
            "required": false,
            "enum": [
              "course",
              "teacher"
            ],
            "type": "string",
            "description": "The filter to search by. \"course\" searches for course names, course codes,\nand SIS IDs. \"teacher\" searches for teacher names"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "Create a new course",
        "summary": "create_new_course",
        "tags": [
          "courses"
        ],
        "operationId": "V1AccountsCoursesByAccountIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "course[name]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The name of the course. If omitted, the course will be named \"Unnamed\nCourse.\""
          },
          {
            "name": "course[course_code]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The course code for the course."
          },
          {
            "name": "course[start_at]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z"
          },
          {
            "name": "course[end_at]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z"
          },
          {
            "name": "course[license]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The name of the licensing. Should be one of the following abbreviations\n(a descriptive name is included in parenthesis for reference):\n- 'private' (Private Copyrighted)\n- 'cc_by_nc_nd' (CC Attribution Non-Commercial No Derivatives)\n- 'cc_by_nc_sa' (CC Attribution Non-Commercial Share Alike)\n- 'cc_by_nc' (CC Attribution Non-Commercial)\n- 'cc_by_nd' (CC Attribution No Derivatives)\n- 'cc_by_sa' (CC Attribution Share Alike)\n- 'cc_by' (CC Attribution)\n- 'public_domain' (Public Domain)."
          },
          {
            "name": "course[is_public]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true if course is public to both authenticated and unauthenticated users."
          },
          {
            "name": "course[is_public_to_auth_users]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true if course is public only to authenticated users."
          },
          {
            "name": "course[public_syllabus]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true to make the course syllabus public."
          },
          {
            "name": "course[public_syllabus_to_auth]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true to make the course syllabus public for authenticated users."
          },
          {
            "name": "course[public_description]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "A publicly visible description of the course."
          },
          {
            "name": "course[allow_student_wiki_edits]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If true, students will be able to modify the course wiki."
          },
          {
            "name": "course[allow_wiki_comments]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If true, course members will be able to comment on wiki pages."
          },
          {
            "name": "course[allow_student_forum_attachments]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If true, students can attach files to forum posts."
          },
          {
            "name": "course[open_enrollment]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true if the course is open enrollment."
          },
          {
            "name": "course[self_enrollment]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true if the course is self enrollment."
          },
          {
            "name": "course[restrict_enrollments_to_course_dates]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true to restrict user enrollments to the start and end dates of the\ncourse."
          },
          {
            "name": "course[term_id]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The unique ID of the term to create to course in."
          },
          {
            "name": "course[sis_course_id]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The unique SIS identifier."
          },
          {
            "name": "course[integration_id]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The unique Integration identifier."
          },
          {
            "name": "course[hide_final_grades]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If this option is set to true, the totals in student grades summary will\nbe hidden."
          },
          {
            "name": "course[apply_assignment_group_weights]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true to weight final grade based on assignment groups percentages."
          },
          {
            "name": "course[time_zone]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The time zone for the course. Allowed time zones are\n{http://www.iana.org/time-zones IANA time zones} or friendlier\n{http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}."
          },
          {
            "name": "offer",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If this option is set to true, the course will be available to students\nimmediately."
          },
          {
            "name": "enroll_me",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to true to enroll the current user as the teacher."
          },
          {
            "name": "course[default_view]",
            "in": "formData",
            "required": false,
            "enum": [
              "feed",
              "wiki",
              "modules",
              "syllabus",
              "assignments"
            ],
            "type": "string",
            "description": "The type of page that users will see when they first visit the course\n* 'feed' Recent Activity Dashboard\n* 'modules' Course Modules/Sections Page\n* 'assignments' Course Assignments List\n* 'syllabus' Course Syllabus Page\nother types may be added in the future"
          },
          {
            "name": "course[syllabus_body]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The syllabus body for the course"
          },
          {
            "name": "course[grading_standard_id]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The grading standard id to set for the course.  If no value is provided for this argument the current grading_standard will be un-set from this course."
          },
          {
            "name": "course[course_format]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Optional. Specifies the format of the course. (Should be 'on_campus', 'online', or 'blended')"
          },
          {
            "name": "enable_sis_reactivation",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "When true, will first try to re-activate a deleted course with matching sis_course_id if possible."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "put": {
        "description": "Update courses",
        "summary": "update_courses",
        "tags": [
          "courses"
        ],
        "operationId": "V1AccountsCoursesByAccountIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "course_ids",
            "in": "formData",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of ids of courses to update. At most 500 courses may be updated in one call."
          },
          {
            "name": "event",
            "in": "formData",
            "required": true,
            "enum": [
              "offer",
              "conclude",
              "delete",
              "undelete"
            ],
            "type": "string",
            "description": "no description"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/users/{user_id}": {
      "delete": {
        "description": "Delete a user from the root account",
        "summary": "delete_user_from_root_account",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsUsersByAccountIdAndUserIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/sub_accounts/{id}": {
      "delete": {
        "description": "Delete a sub-account",
        "summary": "delete_sub_account",
        "tags": [
          "accounts"
        ],
        "operationId": "V1AccountsSubAccountsByAccountIdAndIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/admins": {
      "post": {
        "description": "Make an account admin",
        "summary": "make_account_admin",
        "tags": [
          "admins"
        ],
        "operationId": "V1AccountsAdminsByAccountIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "user_id",
            "in": "formData",
            "required": true,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The id of the user to promote."
          },
          {
            "name": "role",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "[DEPRECATED] The user's admin relationship with the account will be\ncreated with the given role. Defaults to 'AccountAdmin'."
          },
          {
            "name": "role_id",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The user's admin relationship with the account will be created with the\ngiven role. Defaults to the built-in role for 'AccountAdmin'."
          },
          {
            "name": "send_confirmation",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Send a notification email to\nthe new admin if true. Default is true."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "get": {
        "description": "List account admins",
        "summary": "list_account_admins",
        "tags": [
          "admins"
        ],
        "operationId": "V1AccountsAdminsByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scope the results to those with user IDs equal to any of the IDs specified here."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/admins/{user_id}": {
      "delete": {
        "description": "Remove account admin",
        "summary": "remove_account_admin",
        "tags": [
          "admins"
        ],
        "operationId": "V1AccountsAdminsByAccountIdAndUserIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "[DEPRECATED] Account role to remove from the user. Defaults to\n'AccountAdmin'. Any other account role must be specified explicitly."
          },
          {
            "name": "role_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The user's admin relationship with the account will be created with the\ngiven role. Defaults to the built-in role for 'AccountAdmin'."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/activity": {
      "get": {
        "description": "Get department-level participation data",
        "summary": "get_department_level_participation_data_terms",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsTermsActivityByAccountIdAndTermIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "term_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/current/activity": {
      "get": {
        "description": "Get department-level participation data",
        "summary": "get_department_level_participation_data_current",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsCurrentActivityByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/activity": {
      "get": {
        "description": "Get department-level participation data",
        "summary": "get_department_level_participation_data_completed",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsCompletedActivityByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/grades": {
      "get": {
        "description": "Get department-level grade data",
        "summary": "get_department_level_grade_data_terms",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsTermsGradesByAccountIdAndTermIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "term_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/current/grades": {
      "get": {
        "description": "Get department-level grade data",
        "summary": "get_department_level_grade_data_current",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsCurrentGradesByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/grades": {
      "get": {
        "description": "Get department-level grade data",
        "summary": "get_department_level_grade_data_completed",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsCompletedGradesByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/statistics": {
      "get": {
        "description": "Get department-level statistics",
        "summary": "get_department_level_statistics_terms",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsTermsStatisticsByAccountIdAndTermIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "term_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/current/statistics": {
      "get": {
        "description": "Get department-level statistics",
        "summary": "get_department_level_statistics_current",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsCurrentStatisticsByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/statistics": {
      "get": {
        "description": "Get department-level statistics",
        "summary": "get_department_level_statistics_completed",
        "tags": [
          "analytics"
        ],
        "operationId": "V1AccountsAnalyticsCompletedStatisticsByAccountIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/analytics/activity": {
      "get": {
        "description": "Get course-level participation data",
        "summary": "get_course_level_participation_data",
        "tags": [
          "analytics"
        ],
        "operationId": "V1CoursesAnalyticsActivityByCourseIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/analytics/assignments": {
      "get": {
        "description": "Get course-level assignment data",
        "summary": "get_course_level_assignment_data",
        "tags": [
          "analytics"
        ],
        "operationId": "V1CoursesAnalyticsAssignmentsByCourseIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "If async is true, then the course_assignments call can happen asynch-\nronously and MAY return a response containing a progress_url key instead\nof an assignments array. If it does, then it is the caller's\nresponsibility to poll the API again to see if the progress is complete.\nIf the data is ready (possibly even on the first async call) then it\nwill be passed back normally, as documented in the example response."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/analytics/student_summaries": {
      "get": {
        "description": "Get course-level student summary data",
        "summary": "get_course_level_student_summary_data",
        "tags": [
          "analytics"
        ],
        "operationId": "V1CoursesAnalyticsStudentSummariesByCourseIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "sort_column",
            "in": "query",
            "required": false,
            "enum": [
              "name",
              "name_descending",
              "score",
              "score_descending",
              "participations",
              "participations_descending",
              "page_views",
              "page_views_descending"
            ],
            "type": "string",
            "description": "The order results in which results are returned.  Defaults to \"name\"."
          },
          {
            "name": "student_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If set, returns only the specified student."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/analytics/users/{student_id}/activity": {
      "get": {
        "description": "Get user-in-a-course-level participation data",
        "summary": "get_user_in_a_course_level_participation_data",
        "tags": [
          "analytics"
        ],
        "operationId": "V1CoursesAnalyticsUsersActivityByCourseIdAndStudentIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/analytics/users/{student_id}/assignments": {
      "get": {
        "description": "Get user-in-a-course-level assignment data",
        "summary": "get_user_in_a_course_level_assignment_data",
        "tags": [
          "analytics"
        ],
        "operationId": "V1CoursesAnalyticsUsersAssignmentsByCourseIdAndStudentIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/analytics/users/{student_id}/communication": {
      "get": {
        "description": "Get user-in-a-course-level messaging data",
        "summary": "get_user_in_a_course_level_messaging_data",
        "tags": [
          "analytics"
        ],
        "operationId": "V1CoursesAnalyticsUsersCommunicationByCourseIdAndStudentIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/external_feeds": {
      "get": {
        "description": "List external feeds",
        "summary": "list_external_feeds_courses",
        "tags": [
          "announcement_external_feeds"
        ],
        "operationId": "V1CoursesExternalFeedsByCourseIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "Create an external feed",
        "summary": "create_external_feed_courses",
        "tags": [
          "announcement_external_feeds"
        ],
        "operationId": "V1CoursesExternalFeedsByCourseIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The url to the external rss or atom feed"
          },
          {
            "name": "header_match",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If given, only feed entries that contain this string in their title will be imported"
          },
          {
            "name": "verbosity",
            "in": "formData",
            "required": false,
            "enum": [
              "full",
              "truncate",
              "link_only"
            ],
            "type": "string",
            "description": "Defaults to \"full\""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/groups/{group_id}/external_feeds": {
      "get": {
        "description": "List external feeds",
        "summary": "list_external_feeds_groups",
        "tags": [
          "announcement_external_feeds"
        ],
        "operationId": "V1GroupsExternalFeedsByGroupIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "Create an external feed",
        "summary": "create_external_feed_groups",
        "tags": [
          "announcement_external_feeds"
        ],
        "operationId": "V1GroupsExternalFeedsByGroupIdPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The url to the external rss or atom feed"
          },
          {
            "name": "header_match",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "If given, only feed entries that contain this string in their title will be imported"
          },
          {
            "name": "verbosity",
            "in": "formData",
            "required": false,
            "enum": [
              "full",
              "truncate",
              "link_only"
            ],
            "type": "string",
            "description": "Defaults to \"full\""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/courses/{course_id}/external_feeds/{external_feed_id}": {
      "delete": {
        "description": "Delete an external feed",
        "summary": "delete_external_feed_courses",
        "tags": [
          "announcement_external_feeds"
        ],
        "operationId": "V1CoursesExternalFeedsByCourseIdAndExternalFeedIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "external_feed_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/groups/{group_id}/external_feeds/{external_feed_id}": {
      "delete": {
        "description": "Delete an external feed",
        "summary": "delete_external_feed_groups",
        "tags": [
          "announcement_external_feeds"
        ],
        "operationId": "V1GroupsExternalFeedsByGroupIdAndExternalFeedIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "external_feed_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/announcements": {
      "get": {
        "description": "List announcements",
        "summary": "list_announcements",
        "tags": [
          "announcements"
        ],
        "operationId": "V1AnnouncementsGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "context_codes",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of context_codes to retrieve announcements for (for example, +course_123+). Only courses\nare presently supported. The call will fail unless the caller has View Announcements permission\nin all listed courses."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only return announcements posted since the start_date (inclusive).\nDefaults to 14 days ago. The value should be formatted as: yyyy-mm-dd or ISO 8601 YYYY-MM-DDTHH:MM:SSZ."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Only return announcements posted before the end_date (inclusive).\nDefaults to 28 days from start_date. The value should be formatted as: yyyy-mm-dd or ISO 8601 YYYY-MM-DDTHH:MM:SSZ.\nAnnouncements scheduled for future posting will only be returned to course administrators."
          },
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Only return active announcements that have been published.\nApplies only to requesting users that have permission to view\nunpublished items.\nDefaults to false for users with access to view unpublished items,\notherwise true and unmodifiable."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional list of resources to include with the response. May include\na string of the name of the resource. Possible values are:\n\"sections\", \"sections_user_count\"\nif \"sections\" is passed, includes the course sections that are associated\nwith the topic, if the topic is specific to sertain sections of the course.\nIf \"sections_user_count\" is passed, then:\n  (a) If sections were asked for *and* the topic is specific to certain\n      course sections sections, includes the number of users in each\n      section. (as part of the section json asked for above)\n  (b) Else, includes at the root level the total number of users in the\n      topic's context (group or course) that the topic applies to."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/appointment_groups": {
      "get": {
        "description": "List appointment groups",
        "summary": "list_appointment_groups",
        "tags": [
          "appointment_groups"
        ],
        "operationId": "V1AppointmentGroupsGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "enum": [
              "reservable",
              "manageable"
            ],
            "type": "string",
            "description": "Defaults to \"reservable\""
          },
          {
            "name": "context_codes",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of context codes used to limit returned results."
          },
          {
            "name": "include_past_appointments",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Defaults to false. If true, includes past appointment groups"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "enum": [
              "appointments",
              "child_events",
              "participant_count",
              "reserved_times",
              "all_context_codes"
            ],
            "type": "string",
            "description": "Array of additional information to include.\n\n\"appointments\":: calendar event time slots for this appointment group\n\"child_events\":: reservations of those time slots\n\"participant_count\":: number of reservations\n\"reserved_times\":: the event id, start time and end time of reservations\n                   the current user has made)\n\"all_context_codes\":: all context codes associated with this appointment group"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      },
      "post": {
        "description": "Create an appointment group",
        "summary": "create_appointment_group",
        "tags": [
          "appointment_groups"
        ],
        "operationId": "V1AppointmentGroupsPost",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "appointment_group[context_codes]",
            "in": "formData",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of context codes (courses, e.g. course_1) this group should be\nlinked to (1 or more). Users in the course(s) with appropriate permissions\nwill be able to sign up for this appointment group."
          },
          {
            "name": "appointment_group[title]",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Short title for the appointment group."
          },
          {
            "name": "appointment_group[sub_context_codes]",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of sub context codes (course sections or a single group category)\nthis group should be linked to. Used to limit the appointment group to\nparticular sections. If a group category is specified, students will sign\nup in groups and the participant_type will be \"Group\" instead of \"User\"."
          },
          {
            "name": "appointment_group[description]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Longer text description of the appointment group."
          },
          {
            "name": "appointment_group[location_name]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Location name of the appointment group."
          },
          {
            "name": "appointment_group[location_address]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Location address."
          },
          {
            "name": "appointment_group[publish]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether this appointment group should be published (i.e. made\navailable for signup). Once published, an appointment group cannot be\nunpublished. Defaults to false."
          },
          {
            "name": "appointment_group[participants_per_appointment]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Maximum number of participants that may register for each time slot.\nDefaults to null (no limit)."
          },
          {
            "name": "appointment_group[min_appointments_per_participant]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Minimum number of time slots a user must register for. If not set, users\ndo not need to sign up for any time slots."
          },
          {
            "name": "appointment_group[max_appointments_per_participant]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Maximum number of time slots a user may register for."
          },
          {
            "name": "appointment_group[new_appointments][X]",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Nested array of start time/end time pairs indicating time slots for this\nappointment group. Refer to the example request."
          },
          {
            "name": "appointment_group[participant_visibility]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "\"private\":: participants cannot see who has signed up for a particular\n            time slot\n\"protected\":: participants can see who has signed up.  Defaults to\n              \"private\"."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/appointment_groups/{id}": {
      "get": {
        "description": "Get a single appointment group",
        "summary": "get_single_appointment_group",
        "tags": [
          "appointment_groups"
        ],
        "operationId": "V1AppointmentGroupsByIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "enum": [
              "child_events",
              "appointments",
              "all_context_codes"
            ],
            "type": "string",
            "description": "Array of additional information to include. See include[] argument of\n\"List appointment groups\" action.\n\n\"child_events\":: reservations of time slots time slots\n\"appointments\":: will always be returned\n\"all_context_codes\":: all context codes associated with this appointment group"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      },
      "put": {
        "description": "Update an appointment group",
        "summary": "update_appointment_group",
        "tags": [
          "appointment_groups"
        ],
        "operationId": "V1AppointmentGroupsByIdPut",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "appointment_group[context_codes]",
            "in": "formData",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of context codes (courses, e.g. course_1) this group should be\nlinked to (1 or more). Users in the course(s) with appropriate permissions\nwill be able to sign up for this appointment group."
          },
          {
            "name": "appointment_group[sub_context_codes]",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of sub context codes (course sections or a single group category)\nthis group should be linked to. Used to limit the appointment group to\nparticular sections. If a group category is specified, students will sign\nup in groups and the participant_type will be \"Group\" instead of \"User\"."
          },
          {
            "name": "appointment_group[title]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Short title for the appointment group."
          },
          {
            "name": "appointment_group[description]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Longer text description of the appointment group."
          },
          {
            "name": "appointment_group[location_name]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Location name of the appointment group."
          },
          {
            "name": "appointment_group[location_address]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Location address."
          },
          {
            "name": "appointment_group[publish]",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Indicates whether this appointment group should be published (i.e. made\navailable for signup). Once published, an appointment group cannot be\nunpublished. Defaults to false."
          },
          {
            "name": "appointment_group[participants_per_appointment]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Maximum number of participants that may register for each time slot.\nDefaults to null (no limit)."
          },
          {
            "name": "appointment_group[min_appointments_per_participant]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Minimum number of time slots a user must register for. If not set, users\ndo not need to sign up for any time slots."
          },
          {
            "name": "appointment_group[max_appointments_per_participant]",
            "in": "formData",
            "required": false,
            "type": "integer",
            "format": "int64",
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "Maximum number of time slots a user may register for."
          },
          {
            "name": "appointment_group[new_appointments][X]",
            "in": "formData",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Nested array of start time/end time pairs indicating time slots for this\nappointment group. Refer to the example request."
          },
          {
            "name": "appointment_group[participant_visibility]",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "\"private\":: participants cannot see who has signed up for a particular\n            time slot\n\"protected\":: participants can see who has signed up. Defaults to \"private\"."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      },
      "delete": {
        "description": "Delete an appointment group",
        "summary": "delete_appointment_group",
        "tags": [
          "appointment_groups"
        ],
        "operationId": "V1AppointmentGroupsByIdDelete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "cancel_reason",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Reason for deleting/canceling the appointment group."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/appointment_groups/{id}/users": {
      "get": {
        "description": "List user participants",
        "summary": "list_user_participants",
        "tags": [
          "appointment_groups"
        ],
        "operationId": "V1AppointmentGroupsUsersByIdGet",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID"
          },
          {
            "name": "registration_status",
            "in": "query",
            "required": false,
            "enum": [
              "all",
              "registered"
            ],
            "type": "string",
            "description": "Limits results to the a given participation status, defaults to \"all\""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "security": []
      }
    },
    "/v1/appointment_groups/{id}/groups": {
      "get": {
        "description": "List student group participants",
        "summary": "list_student_group_participants",
        "tags": [
          "appointment_groups"
        ],
        "operationId": "V1AppointmentGroupsGroupsByIdGet",
        "deprecated": false,
        "produces": [
[...]
